<header-content></header-content>
<div class="view-stories">
  <img src="../../assets/story-banner.jpg">

  <div class="content">
    <div class="categories">
      <a class="mental" href="#"><img src="../../assets/ct_mental_button.png"></a>
      <a href="#"><img src="../../assets/ct_phys_button.png"></a>
      <a href="#"><img src="../../assets/ct_carer_button.png"></a>
    </div>
    <div class="content-horizontal">
      <div class="content-panel">
        <div class="content-choices">
          <img src="../../assets/ct_dana_button.png">
          <!--<a  href="#">Share a Story</a>-->
        </div>
        <div class="content-choices">
          <div class="recommendation-container">
            <div class="recommendation">
              <div class="text-panel">
                <a href="/story">Psychoeducation has been a major game changer for me.</a>
              </div>
            </div>
            <div class="recommendation">
              <div class="text-panel">
                <a href="/story">Control doesn't mean you're living a boring life.</a>
              </div>
            </div>
            <div class="recommendation">
              <div class="text-panel">
                <a href="/story">I'm 28 years old and have bipolar disorder.</a>
              </div>
            </div>
            <div class="recommendation bottom">
              <a href="/story">View  more >></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="content-horizontal">
      <button class="view-all">View All</button>
    </div>

  </div>
</div>
<footer></footer>
