<header-content></header-content>
<div class="share-story">
  <div class="content">
    <img class="banner" src="../../assets/ct_my_story_banner_1.jpg">
    <div class="content-horizontal">
      <div class="content-panel">
        <h2>Upload Content</h2>
        <div class="media-group">
          <a class="video" href="#"><img src="../../assets/ct_video_button.png"></a>
          <a class="audio" href="#"><img src="../../assets/ct_audio_button.png"></a>
          <a class="text" href="#"><img src="../../assets/ct_text_button.png"></a>
        </div>
      </div>
    </div>
    <div class="content-horizontal">
      <div class="content-panel">
        <div class="input-group">
          <label>Short Description</label>
          <textarea rows="4" cols="50"></textarea>
        </div>
      </div>
    </div>

    <div class="content-horizontal button-container">
      <button class="submit">Submit</button>
    </div>

  </div>
</div>
<footer></footer>
