<div class="header-content">
  <nav>
    <div class="header-left">
      <a href="/dashboard"><img src="../../assets/charcoal_logotype.svg"></a>
    </div>
    <div class="header-right">
      <div class="dropdown">
        <div class="hamburger">
          <div class="stripes"></div>
          <div class="stripes"></div>
          <div class="stripes"></div>
        </div>

        <div class="dropdown-content">
          <a href="share-story">Share</a>
          <a href="view-stories">Browse</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
      </div>
    </div>

  </nav>

</div>
<router-outlet></router-outlet>



