<div class="header">
  <nav>
    <div class="header-left">
      <a href="/dashboard"><img src="../../assets/charcoal_logotype.svg"></a>
    </div>
    <div class="header-right">
      <a routerLink="/share-story" routerLinkActive="active">Share</a>
      <a routerLink="/view-stories" routerLinkActive="active">Browse</a>
      <a routerLink="#" routerLinkActive="active">About</a>
      <a routerLink="#" routerLinkActive="active">Contact Us</a>
    </div>

  </nav>

</div>
<router-outlet></router-outlet>
