<header-content></header-content>
<div class="story">
  <div class="content">
    <img src="../../assets/story-banner.jpg">
    <div class="content-horizontal">
      <div class="content-panel">
        <h1>What the story is all about</h1>
        <span>I'm 28 years old and have bipolar disorder. I was diagnosed 10 years ago and put on meds, but I've been off them the last 2 years. Psychoeducation has been a major game changer for me. I've learnt to spot the danger signals and stop the episodes from intensifying or even begin. Honestly, I'm having severe difficulties coming up with something interesting to write, because my life has just been so stable and normal for years now. Some people with bipolar disorder are in love with their mania, because you can feel great, inspired and energised. But, it's truly great to be in control too and control doesn't mean you're living a boring life. You just have fewer extremely embarrassing stories to tell</span>
      </div>
    </div>

    <div class="content-horizontal">
      <button class="connect">Log in to connect</button>
    </div>

  </div>
</div>
<footer></footer>
