<header-main></header-main>
<div class="dashboard">
  <img src=".../../assets/home-banner.jpg">

  <div class="content">
    <div class="content-panel">
      <div class="content-choices share">
        <a  href="/share-story">I HAVE A STORY</a>
      </div>
      <div class="content-choices want">
        <a  href="/view-stories">I WANT TO FIND A STORY</a>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="underlay-text">
      <a href="#">OUR STORY</a>
    </div>
  </div>
</div>
<footer></footer>
