/* You can add global styles to this file, and also import other style files */
h1 {
  color: #369;
  font-family: Raleway;
  //font-variant: normal;
  font-size: 36px;
  font-weight: bolder;
  //letter-spacing: 250pt;
}
h2, h3 {
  color: #444;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0 2em 0 2em;
}
body, input[text], button {
  color: #888;
  font-family: Raleway, Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

span {
  line-height: 22px;
  font-size: 15px;
}
